* {
  margin: 0;
  padding: 0;
  font-family: 'Readex Pro', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-image:linear-gradient(rgb(255, 255, 255), #3148f355);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
