.header {
  position: sticky;
  top: 0;
  padding: 10px 65px 0 65px;
  height: 80px;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-bottom: 3px rgba(101, 101, 205, 0.573) solid;
}

.navbar-left {
  max-height: 80px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo-home {
  display: flex;
}

.navbar-logo {
  border-bottom: 4px solid #3147F3;

  border-radius: 3px;
  padding-bottom: 1px;
}

.navbar-nama-logo {
  margin-left: 10px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.navbar-middle {
  flex: 1;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-button-middle {
  display: inline-block;
  font-size: 18px;
  border-radius: 25px;
}

.navbar-active{
  background: #3147F3;
  color: black;
}

.navbar-button-middle a {
  color: rgb(0, 0, 0);
  padding:10px 25px;
  border-radius: 25px;
  margin: 0 5px 0 5px;
}

.navbar-button-middle a:hover {
  background: #3147F3;
  color: black;
  transition: 0.4s;
}

.navbar-right {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
}

.navbar-logo-right {
  
}

.navbar-logo-right:hover {
  border-radius: 12px;
  transition: 0.4s;
}
