.display {
  display: flex;
}

.left-content {
  display: flex;
  flex: 1;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  
}

.main-text {
  display: flex;
  padding-left: 10px;
  box-shadow: -6px 4px 6px #3148f355;
  border-radius: 10px;
}

.left-text {
  margin-left: 12px;
  font-size: 50px;
  font-weight: bold;
  padding-top: 18px;
}

.left-logo img {
  border-bottom: 7px #3147F3 solid;
  padding-bottom: 5px;
}

.right-content {
  flex: 1;
  color: white;

}

.right-form {
  background-color: #2F2F2F;
  flex-direction: column;
  height: 600px;
  width: 400px;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  border-radius: 15px;
}

.title {
  font-size: 40px;
  margin-bottom: 55px;
}  


.user-input {
  font-size: 24px;
  padding: 12px 10px;
  border-radius: 12px;
  width: 360px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.sign-in-login {
  text-align: center;
  margin: 20px 0 40px 0;
}

.sign-in-login-color {
  color: #3147F3;
}

.sign-in-login-color:hover {
  text-decoration: underline;
}

.line-login {
  width: 150px;
  padding-bottom: 5px;
}

.text-login {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 18px;
}

.log-in-google {
  display: flex;
  justify-content: center;
  margin: 0 110px 0 110px;
  padding: 8px 0;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  height: 30px;

}

.log-in-google:hover {
  background-color: #3148f355;
  transition: 0.4s;
}

.continue {
  display: flex;
  justify-content: right;
  height: 110px;
  position: relative;
}

.continue-text {
  position: absolute;
  bottom: 15px;
}

.continue-text a {
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  border-radius: 20px;
}

.continue-text a:hover {
  background-color: #3148f382;
  border-radius: 20px;
  transition: 0.4s;
}

.submit {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
}